*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#box1{
    margin-top: 10px;
    height: 10px;
    width: 1600px;
    background-color: crimson;
}

#box2{
    margin-top: 100px;
    height: 300px;
    width: 300px;
    background-color: rgb(245, 115, 141);
    /* visibility: hidden; */
}

.container{
    margin-top: 10px;
    height: 100px;
    width: 100px;
    background-color: blue;
}

#page-1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-2{
    height: 100%;
    width: 100%;
    background-color: rgb(6, 69, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-3{
    height: 100%;
    width: 100%;
    background-color: rgb(2, 23, 94);

display: flex;
justify-content: center;
align-items: center;
}
.box{
    height: 550px;
    width: 600px;
    background-color: crimson;
}